html body {

    background-image: url(../Assets/bg.png);
    font-family: "Source Serif 4", serif;
    color: #edf2f4;
    display: flex;
    justify-content: center;
    margin: 20px;
}

header h1 {

    font-size: 48px;
    font-weight: 400;
    font-style: italic;
}

header span {

    font-size: 18px;
    font-weight: 200;
    font-style: oblique;
    color: #edf2f4cf;
}

p {

    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    max-width: 500px;
    text-align: justify;
}

ul {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {

    margin-right: 20px;
    margin-top: 15px;
    opacity: 0.5;
}

li a img {

    width: 26px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-btn {

    background: none;
    color: #edf2f4;
    border: none;
    font-size: 24px;
    opacity: 0.5;
}

.dropup {

    position: relative;
    display: inline-block;
}

.drop-content {

    display: none;
    position: absolute;
    bottom: 40px;
    right: 0;
    text-wrap: nowrap;
    background-image: url(../Assets/drop.png);
    border-radius: 15px;
    z-index: 1;
    padding: 5px;
    

}

.dropup.active .drop-content {

    display: block;
}


.drop-content a {

    color: black;
    text-decoration: none;
    font-style: italic;
    display: block;
    opacity: 0.6;
    margin: 20px 20px;
    transition: color 0.5s;
}

.drop-content a:hover {

    color: #E71D36;
}
  
.cs {

    justify-content: center;
    margin: 20px;
}

.cs h1 {

    font-size: 48px;
    font-weight: 400;
    font-style: italic;
}

.cs a {

    color: #edf2f4;
    text-decoration: none;
    font-size: 32px;
    margin-left: 250px;
}